.home-bg {
  min-height: calc(100vh - 80px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-dashboard-box {
  background: rgba(255,255,255,0.92);
  border-radius: 18px;
  margin-top: 48px;
  padding: 36px 30px 34px 30px;
  max-width: 728px;
  min-width: 350px;
  box-shadow: 0 4px 26px rgba(65,90,125,0.12);
  text-align: center;
}

.home-dashboard-box h1 {
  font-size: 2.1rem;
  margin-bottom: 32px;
  color: #201148;
  font-weight: 900;
}

.stats-row {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  margin: 24px 0 20px 0;
}

.stat-box {
  background: #e7efff;
  border-radius: 13px;
  min-width: 153px;
  min-height: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 17px 23px;
  box-shadow: 0 2px 10px #a7bfc866;
}
.stat-box.incidents {
  background: #cae9ff;
}
.stat-box.donations {
  background: #fff7d0;
}
.stat-number {
  font-size: 2.3rem;
  font-weight: bold;
  color: #14395e;
}
.stat-box.donations .stat-number {
  color: #b58e00;
}
.stat-label {
  font-size: 1.16rem;
  margin-top: 7px;
  color: #35356a;
  letter-spacing: 0.5px;
}
.stat-description {
  color: #235;
  margin-top: 1.5em;
  font-size: 1.13rem;
  font-weight: 500;
}
