.medical-listing {
  margin: 2rem auto;
  width: 90%;
  max-width: 1000px;
}

.medical-listing h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #175c4b;
}

.med-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1rem;
  background: #e9fff4;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 2px 12px #6ab99030;
  margin-top: 12px;
}

.med-table th, .med-table td {
  border: 1px solid #cde9d8;
  padding: 8px 12px;
  text-align: center;
}

.med-table th {
  background: #0ad17a;
  color: #fff;
  font-weight: 600;
}

.med-table tr:nth-child(even) {
  background: #fafffc;
}

.med-table tr:nth-child(odd) {
  background: #e4f9ed;
}
